/*headerkasten*/
.menubar{
    background-color: #000000;
    height: 30px;
    color: white;
    overflow: hidden;
    margin-bottom: 30px;
}

.menubar a{
    color: white;
}

.menubar a:hover{
    color: black;
}

.menubar_list li {
    float:left;
    list-style:none;
    padding: 10px 10px 10px 20px;
}

.menubar_list li:hover{
    background: white url(../images/mindsuite_symbol.png) no-repeat left;
}

#logo{
    padding-left: 0px;
    padding-right: 0px;
}
#logo:hover{
    background-image: none;
}