div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}

html,body {
    margin:0;
    padding:0;
    font-size: 80%;
}

body {
    background-color: #d7d8e6;
    font-family: verdana,sans-serif;
}

a:link {
    text-decoration:  none;
}



