<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="menubar">
    <ul class="menubar_list">
        <a href="root.html" th:href="@{/}"><li id="logo"><img src="../../images/mindsuite_logo_transparent.png" th:src="@{/images/mindsuite_logo_transparent.png}" height="20px" /></li></a>
        <a href="root.html" th:href="@{/}"><li>Link 1</li></a>
        <a href="root.html" th:href="@{/}"><li>Link 2</li></a>
        <a href="root.html" th:href="@{/}"><li>Link 3</li></a>
    </ul>
</div>

</body>

</html>