<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>M1ndSuite 0.1</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/header.css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/footer.css" th:href="@{/css/footer.css}" />
</head>

<body>
<div th:class="'menubar'" th:include="header :: menubar"></div>

<div th:unless="${#lists.isEmpty(users)}">

    <h2 th:text="#{title.list}">List of Users</h2>
    <table>
        <thead>
        <tr>
            <th th:text="#{user.id}">ID</th>
            <th th:text="#{user.firstname}">FIRSTNAME</th>
            <th th:text="#{user.name}">LASTNAME</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">1337</td>
            <td th:text="${user.firstName}">Manfred</td>
            <td th:text="${user.lastName}">Mustermann</td>
        </tr>
        </tbody>
    </table>
</div>

<div th:class="'footer'" th:include="footer :: footer"></div>

</body>
</html>